<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centella</title>
</head>
<body>
    <h1>Centella</h1>
    <ul>
        <li id="researcher"><a href="/researcher">Researcher</a></li>
        <li id="sme"><a href="/sme">SME</a></li>
    </ul>
    <h1>Hello Preetham</h1>
</body>
</html>