<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centella-Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <form action="/login" method="post">
        <p>Login or Register with:</p>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>
        <br><br>
        <hr>
        
        <input type="text" name="username" placeholder="Enter your Username">
        <br><br>
        <input type="text" name="password" placeholder="Enter your Password">
        <br><br>
        <input type="submit" value="Login">
        <br><br><br>
        <a href="/register">Signup if new user</a>
    </form>
</body>
</html>